<a href="https://colab.research.google.com/github/02042013009/CSPP-1-2019/blob/master/CSPP1_Week_1_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section B of the Week 1 Exam

In this section you have to write python code for extracting data from a string which is in the HTML format. For the extracted data find the min, max and average values for the given data. Don't worry, you don't need to know everything about HTML but you need to know how to process strings. Here is the example data.

<table>
    <tr>
      <th>Person</th>

      <th>Age</th>
    </tr>

    <tr>
      <td>Bob</td>

      <td>45</td>
    </tr>

    <tr>
      <td>Eric</td>

      <td>23</td>
    </tr>

    <tr>
      <td>Ed</td>

      <td>35</td>
    </tr>

    <tr>
      <td>Tom</td>

      <td>67</td>
    </tr>

    <tr>
      <td>Amy</td>

      <td>19</td>
    </tr>

    <tr>
      <td>Rose</td>

      <td>32</td>
    </tr>
  </table>
  
  The string format of this data looks like this 

```
<table>
    <tr>
      <th>Person</th>

      <th>Age</th>
    </tr>

    <tr>
      <td>Bob</td>

      <td>45</td>
    </tr>

    <tr>
      <td>Eric</td>

      <td>23</td>
    </tr>

    <tr>
      <td>Ed</td>

      <td>35</td>
    </tr>

    <tr>
      <td>Tom</td>

      <td>67</td>
    </tr>

    <tr>
      <td>Amy</td>

      <td>19</td>
    </tr>

    <tr>
      <td>Rose</td>

      <td>32</td>
    </tr>
  </table>
```

### Implement a function count that takes a HTML string and returns the count of records in the table

The sample table given above has 6 rows. So, given this HTML string the function should return 6 as the count of rows. If there are no rows in the table then the count should be 0.

In [21]:
def count(html):
  mylist = []
  for i in range(len(html)-1):
    substr = html[i:i+2]
    if substr[0].isdigit() and substr[1].isdigit():
      mylist.append(int(substr))
  return len(mylist)

assert count('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr><tr><td>Tom</td><td>67</td></tr><tr><td>Amy</td><td>19</td></tr><tr><td>Rose</td><td>32</td></tr></table>
''') == 6
assert count('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr></table>
''') == 3
assert count('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr></table>''') == 1
assert count("") == 0
print("All testcases are passed")

All testcases are passed

### Implement a function getAge that takes a HTML string and returns the age of the first person in the table

The sample table has 6 rows. So, given this HTML string the function getAge should return 45. If there data in the table then it should return None.

In [19]:
def get_age(html):
  mylist = []
  if len(html) != 0:
    for i in range(len(html)-1):
      substr = html[i:i+2]
      if substr[0].isdigit() and substr[1].isdigit():
        mylist.append(int(substr))
    return mylist[0]
  else:
    return None

assert get_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr><tr><td>Tom</td><td>67</td></tr><tr><td>Amy</td><td>19</td></tr><tr><td>Rose</td><td>32</td></tr></table>
''') == 45
assert get_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr></table>
''') == 23
assert get_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Tom</td><td>67</td></tr></table>''') == 67
assert get_age("") == None
print("All testcases are passed")

All testcases are passed

### Implement a function getAge that takes a HTML string and returns the age of the nth person in the table

The sample table has 6 rows. So, given this HTML string the function getAge with n as 1 should return 45 and if n is 2 it should return 23. In case n does not exist it should return None.

In [18]:
def get_age(html, n):
  mylist = []
  for i in range(len(html)-1):
    substr = html[i:i+2]
    if substr[0].isdigit() and substr[1].isdigit():
      mylist.append(int(substr))
  if n < len(mylist):
    return mylist[n-1]
  else:
    return None

assert get_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr><tr><td>Tom</td><td>67</td></tr><tr><td>Amy</td><td>19</td></tr><tr><td>Rose</td><td>32</td></tr></table>
''', 1) == 45
assert get_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr><tr><td>Tom</td><td>67</td></tr><tr><td>Amy</td><td>19</td></tr><tr><td>Rose</td><td>32</td></tr></table>
''', 3) == 35
assert get_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr><tr><td>Tom</td><td>67</td></tr><tr><td>Amy</td><td>19</td></tr><tr><td>Rose</td><td>32</td></tr></table>
''', 10) == None
print("All testcases are passed")

All testcases are passed

### Implement a function average_age that takes a HTML string and returns the average age of the people in the table

The sample table has 6 rows. So, given this HTML string the function avg_age should return XXX. In case there are no rows, the function should return None. Fractional part of the average should be removed.

In [12]:
def avg_age(html):
  mylist = []
  if len(html) != 0:
    for i in range(len(html)-1):
      substr = html[i:i+2]
      if substr[0].isdigit() and substr[1].isdigit():
        mylist.append(int(substr))
    return sum(mylist)//len(mylist)
  else:
    return None      
        

assert avg_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Bob</td><td>45</td></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr><tr><td>Tom</td><td>67</td></tr><tr><td>Amy</td><td>19</td></tr><tr><td>Rose</td><td>32</td></tr></table>
''') == 36
assert avg_age('''<table><tr><th>Person</th><th>Age</th></tr><tr><td>Eric</td><td>23</td></tr><tr><td>Ed</td><td>35</td></tr></table>''') == 29
assert avg_age("") == None
print("All testcases are passed")

All testcases are passed

In [7]:
str="so1am"
for s in str:
  if s.isdigit():
    print("true")
  else:
    print("false")

false
false
true
false
false